<nav class="flex items-center justify-between px-8 py-4 max-w-7xl mx-auto">

  <div class="flex items-center gap-4">
    <button id="theme-toggle" type="button"
      class="w-10 h-10 flex items-center justify-center rounded-xl bg-orange-100 dark:bg-slate-800 text-orange-600 dark:text-orange-400 hover:scale-110 transition-all shadow-sm group">
      <svg id="theme-toggle-dark-icon" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="theme-toggle-light-icon" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z">
        </path>
      </svg>
    </button>

    <div class="hidden sm:flex items-center gap-4">
      <div class="h-6 w-px bg-slate-300 dark:bg-orange-700 mx-2"></div>
      <a href="https://www.linkedin.com/in/beh-aboudramane-traore-a861a5b0/" target="_blank"
        class="w-9 h-9 bg-blue-50 dark:bg-blue-900/20 text-blue-600 dark:text-blue-400 hover:bg-blue-600 hover:text-white rounded-xl flex items-center justify-center transition-all duration-300 hover:-translate-y-1 shadow-sm">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
        </svg>
      </a>
      <a href="https://github.com/trabrouss1" target="_blank"
        class="w-9 h-9 bg-slate-100 dark:bg-slate-800 text-slate-700 dark:text-slate-300 hover:bg-slate-900 dark:hover:bg-white hover:text-white dark:hover:text-slate-900 rounded-xl flex items-center justify-center transition-all duration-300 hover:-translate-y-1 shadow-sm">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
        </svg>
      </a>
    </div>
  </div>

    <!-- MENU DESKTOP -->
  <div class="hidden md:flex items-center gap-8">
    <a href="#profil"
      class="text-slate-600 dark:text-slate-300 hover:text-orange-600 dark:hover:text-orange-400 transition font-medium relative group">Profil
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 group-hover:w-full transition-all duration-300"></span>
    </a>
    <a href="#formations"
      class="text-slate-600 dark:text-slate-300 hover:text-orange-600 dark:hover:text-orange-400 transition font-medium relative group">Formations
      &amp; Certif
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 group-hover:w-full transition-all duration-300"></span>
    </a>
    <a href="#experiences"
      class="text-slate-600 dark:text-slate-300 hover:text-orange-600 dark:hover:text-orange-400 transition font-medium relative group">Expériences
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 group-hover:w-full transition-all duration-300"></span>
    </a>
    <a href="#realisations"
      class="text-slate-600 dark:text-slate-300 hover:text-orange-600 dark:hover:text-orange-400 transition font-medium relative group">Réalisations
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 group-hover:w-full transition-all duration-300"></span>
    </a>
    <a href="#stack"
      class="text-slate-600 dark:text-slate-300 hover:text-orange-600 dark:hover:text-orange-400 transition font-medium relative group">Stack
      Technologique
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-orange-500 group-hover:w-full transition-all duration-300"></span>
    </a>
  </div>

  <div class="flex items-center gap-4">
    <span
      class="hidden md:inline-block bg-linear-to-r bg-orange-500 from-orange-600 to-orange-500 text-white px-8 py-3 hover:shadow-2xs rounded-lg font-semibold transition shadow-lg cursor-default">
      Beh Aboudramane TRAORE
    </span>

    <!-- BURGER (mobile uniquement) -->
    <button id="mobile-menu-button" type="button" (click)="toggleMenu()"
      class="md:hidden w-10 h-10 flex items-center justify-center rounded-xl bg-orange-100 
      dark:bg-slate-800 text-orange-600 dark:text-orange-400 hover:scale-110 transition-all shadow-sm group">
      @if (!isMenuOpen) {
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      } @else {
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      }

    </button>
  </div>
</nav>

  <!-- MENU MOBILE DÉPLIABLE -->
<div
  [class.hidden]="!isMenuOpen"
  class="md:hidden bg-white dark:bg-slate-900 border-t border-slate-200 dark:border-slate-800 shadow-md">
  <div class="flex flex-col p-4 space-y-2">
    <a href="#profil" (click)="toggleMenu()"
      class="py-2 px-3 text-slate-700 dark:text-slate-300 hover:bg-orange-100 dark:hover:bg-slate-800 rounded-lg transition font-medium">
      Profil
    </a>

    <a href="#formations" (click)="toggleMenu()"
      class="py-2 px-3 text-slate-700 dark:text-slate-300 hover:bg-orange-100 dark:hover:bg-slate-800 rounded-lg transition font-medium">
      Formations & Certif
    </a>

    <a href="#experiences" (click)="toggleMenu()"
      class="py-2 px-3 text-slate-700 dark:text-slate-300 hover:bg-orange-100 dark:hover:bg-slate-800 rounded-lg transition font-medium">
      Expériences
    </a>

    <a href="#realisations" (click)="toggleMenu()"
      class="py-2 px-3 text-slate-700 dark:text-slate-300 hover:bg-orange-100 dark:hover:bg-slate-800 rounded-lg transition font-medium">
      Réalisations
    </a>

    <a href="#stack" (click)="toggleMenu()"
      class="py-2 px-3 text-slate-700 dark:text-slate-300 hover:bg-orange-100 dark:hover:bg-slate-800 rounded-lg transition font-medium">
      Stack
    </a>
  </div>
</div>