<section id="profil" class="grid gap-4 md:gap-8 mt-12">
  <!-- Section Header -->
  <div class="text-center mb-16">
    <h2 class="text-5xl font-bold text-gray-900 mb-4">
    <span class="text-gray-800 dark:text-white">Mon </span><span class="text-orange-500">Profil</span>
    </h2>
    <p class="text-white text-lg">
      Je suis Beh Aboudramane TRAORE, passionné par le développement web et la création de solutions numériques innovantes.
    </p>
  </div>

  <app-card-profil></app-card-profil>
</section>