<div class="grid grid-cols-1 lg:grid-cols-1 gap-8">
  @for (formation of formations; track formation.id) {
  <div class="bg-white dark:bg-slate-800 rounded-2xl shadow-lg p-8 border-l-4 border-orange-500 hover:shadow-xl dark:hover:shadow-orange-900/20 transition-all duration-300">
    <div class="flex items-start gap-6">
      <div class="shrink-0">
        <div class="w-16 h-16 bg-linear-to-br from-orange-500 to-orange-600 rounded-xl flex items-center justify-center shadow-lg">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
          </svg>
        </div>
      </div>

      <div class="flex-1">
        <div class="flex items-start justify-between mb-3">
          <div>
            <h3 class="text-2xl font-bold text-slate-900 dark:text-white mb-1">{{formation.diplome}}</h3>
            <p class="text-orange-600 dark:text-orange-400 font-semibold">{{formation.ecole}}</p>
          </div>
          <span class="px-3 py-1 bg-orange-100 dark:bg-orange-900/20 text-orange-700 dark:text-orange-300 rounded-full text-sm font-medium">
            {{ formation.startDate | date: 'yyyy' }}{{ formation.endDate ? ' - ' + (formation.endDate | date: 'yyyy') : '' }} </span>
        </div>
        <p class="text-slate-800 dark:text-slate-400 leading-relaxed mb-4">
          {{formation.description}}
        </p>
      </div>
    </div>
  </div>
  }
</div>