<div class="grid grid-cols-1 lg:grid-cols-1 gap-8">
  @for (formation of formations; track formation.id) {
    <div class="bg-white rounded-2xl shadow-lg p-8 border-l-4 border-orange-500 hover:shadow-xl transition-all duration-300">
      <div class="flex items-start gap-6">
        <div class="shrink-0">
          <div class="w-16 h-16 bg-linear-to-br from-orange-400 to-orange-600 rounded-xl flex items-center justify-center ">
          <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
          </svg>
          </div>
        </div>

        <div class="flex-1">
          <div class="flex items-start justify-between mb-3">
            <div>
              <h3 class="text-2xl font-bold text-gray-900 mb-1">{{formation.diplome}}</h3>
              <p class="text-orange-600 font-semibold">{{formation.ecole}}</p>
            </div>
            <span class="px-3 py-1 bg-orange-100 text-orange-700 rounded-full text-sm font-medium">{{formation.annee}}</span>
          </div>
          <p class="text-gray-600 leading-relaxed mb-4">
            {{formation.description}}
          </p>
        </div>
      </div>
    </div>
  }
</div>