<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
  @for (realisation of realisations; track realisation.id) {
    <a [href]="realisation.link">
      <div class="bg-white rounded-3xl p-8 shadow-2xl hover:shadow-3xl transition-all duration-300 hover:-translate-y-2">
        <div class="mb-8">
          <img [src]="realisation.imageUrl" alt="img"
            class="w-full h-56 object-cover rounded-2xl shadow-md">
        </div>
  
        <div>
          <h1 class="text-4xl font-bold text-gray-900 mb-4">{{realisation.name}}</h1>
          <p class="text-gray-600 leading-relaxed mb-4">
            {{realisation.description}}
          </p>
  
          <div class="flex items-center gap-2 mb-4">
            <div class="w-8 h-8 bg-orange-50 rounded-lg flex items-center justify-center">
              <svg class="w-5 h-5 text-orange-500" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 0L1.5 6v12L12 24l10.5-6V6L12 0zm0 2.5l8.5 4.862v9.276L12 21.5l-8.5-4.862V7.362L12 2.5z" />
              </svg>
            </div>
            <h3 class="font-bold text-gray-900">Technologies utilisées</h3>
          </div>
  
          <div class="flex flex-wrap gap-2">
            @for (language of realisation.languages; track $index) {
              <span class="bg-gray-100 text-gray-700 px-4 py-2 rounded-lg text-sm font-semibold hover:bg-orange-500 hover:cursor-default hover:text-amber-50 transition-all duration-300 hover:-translate-y-1">{{language}}</span>
            }
          </div>
        </div>
      </div>
    </a>
  }
</div>