<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
  @for (realisation of realisations; track realisation.id) {
  <a [href]="realisation.link">
    <div class="bg-white dark:bg-slate-800 rounded-3xl p-8 shadow-2xl hover:shadow-3xl transition-all duration-300 hover:-translate-y-2 border border-slate-100 dark:border-slate-700">
      <div class="mb-8">
        <img [src]="realisation.imageUrl" alt="img"
          class="w-full h-56 object-cover rounded-2xl shadow-md border border-slate-200 dark:border-slate-700">
      </div>

      <div>
        <h1 class="text-4xl font-bold text-slate-900 dark:text-white mb-2">{{realisation.name}}</h1>

        <div class="flex items-center gap-4 mb-4 text-slate-700 dark:text-slate-300 text-sm font-medium">

          <div class="flex items-center gap-1">
            <svg class="w-4 h-4 text-orange-600 dark:text-orange-400" fill="none" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
            </svg>
            <span class="whitespace-nowrap">{{realisation.role}}</span>
          </div>

          <div class="w-px h-5 bg-slate-300 dark:bg-orange-600"></div>

          <div class="flex items-center gap-1">
            <svg class="w-4 h-4 text-orange-600 dark:text-orange-400" fill="none" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-4 0H5m4 0h1v-4a1 1 0 011-1h2a1 1 0 011 1v4m-6 0h6">
              </path>
            </svg>
            <span class="whitespace-nowrap">{{realisation.company}}</span>
          </div>
        </div>
        <p class="text-slate-600 dark:text-slate-400 leading-relaxed mb-4">
          {{realisation.description}}
        </p>

        <div class="flex items-center gap-2 mb-4">
          <div class="w-8 h-8 bg-orange-100 dark:bg-orange-900/20 rounded-lg flex items-center justify-center">
            <svg class="w-5 h-5 text-orange-600 dark:text-orange-400" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 0L1.5 6v12L12 24l10.5-6V6L12 0zm0 2.5l8.5 4.862v9.276L12 21.5l-8.5-4.862V7.362L12 2.5z" />
            </svg>
          </div>
          <h3 class="font-bold text-slate-900 dark:text-white">Technologies utilisées</h3>
        </div>

        <div class="flex flex-wrap gap-2">
          @for (language of realisation.languages; track $index) {
          <span
            class="bg-slate-100 dark:bg-slate-700 text-slate-700 dark:text-slate-300 px-4 py-2 rounded-lg text-sm font-semibold hover:bg-orange-500 hover:cursor-default hover:text-white transition-all duration-300 hover:-translate-y-1">{{language}}</span>
          }
        </div>
      </div>
    </div>
  </a>
  }
</div>